* text=auto
*.bat text eol=crlf
*.cmd text eol=crlf
*.ps1 text eol=crlf
*.sh text eol=lf
*.py text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.ts text eol=lf
*.tsx text eol=lf
*.json text eol=lf
*.yaml text eol=lf
*.yml text eol=lf
*.md text eol=lf
*.tf text eol=lf
*.html text eol=lf
*.css text eol=lf
*.csv text eol=lf
*.txt text eol=lf
*.xml text eol=lf
*.ipynb text eol=lf
*.lock text eol=lf